<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/data/jaxb">
<head>
    <meta charset="UTF-8">
    <title>Brak dostępu</title>
</head>
<body>
<link href="../static/css/access-denied.css" th:href="@{/css/access-denied.css}" rel="stylesheet" />
<div class="gandalf">
    <div class="fireball"></div>
    <div class="skirt"></div>
    <div class="sleeves"></div>
    <div class="shoulders">
        <div class="hand left"></div>
        <div class="hand right"></div>
    </div>
    <div class="head">
        <div class="hair"></div>
        <div class="beard"></div>
    </div>
</div>
<div class="message">
    <h1>403 - You Shall Not Pass</h1>
    <p>Uh oh, Gandalf is blocking the way!<br/>Maybe you have a typo in the url? Or you meant to go to a different location? Like...Hobbiton?</p>
    <a th:href="${'/books'}">Back to main page</a>
</div>
</body>
</html>