<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Rejestracja użytkownika</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.2.1/css/bootstrap.min.css}" />

    <script th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.2.1/js/bootstrap.min.js}"></script>
</head>
<body>
<div th:if="${showMessage == 'REGISTER_OK'}" class="alert alert-success" role="alert">
    <a th:text="${'Konto użytkownika zostało pomyślnie zarejestrowane.'}"></a>
    <a th:href="${'/login'}">Teraz możesz się zalogować.</a>
</div>
<div th:if="${showMessage == 'REGISTER_EXISTS'}" class="alert alert-warning" role="alert">
    <a th:text="${'Użytkownik o podanym loginie jest już zarejestrowany. Wybierz inny login.'}"></a>
</div>
<div class="container">
    <form class="form-horizontal" th:object="${user}" th:action="@{/register}" th:method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label class="control-label">Login:</label>
            <input type="text" class="form-control" th:field="*{username}" th:if="${user.username == null}"/>
            <input type="text" class="form-control" th:field="*{username}" th:if="${user.username != null}" >
            <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Hasło:</label>
            <input type="password" class="form-control" th:field="*{password}" value=""/>
            <p th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Imię:</label>
            <input type="text" class="form-control" th:field="*{firstName}"/>
            <p th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"/>
        </div>

        <div class="form-group">
            <label class="control-label">Nazwisko:</label>
            <input type="text" class="form-control" th:field="*{lastName}"/>
            <p th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"/>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-primary float-left">Zatwierdź</button>
        </div>
    </form>
    <div class="row">
        <a th:href="${'/books'}">Wróć</a>
    </div>
</div>
</body>
</html>